{{define "boardHeader"}}

    <body>
        <h1 id="header">My kanban board</h1>

        <div class="main">
            <div class="board-header">
                <div>Todo</div>
                <div>InProgress</div>
                <div>Done</div>
            </div>

{{end}}