<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./style/style.css">
    </head>

    <body>
        <h1 id="header">My kanban board</h1>

        <div class="main">
            <div class="board-header">
                <div>Todo</div>
                <div>InProgress</div>
                <div>Done</div>
            </div>
            
            <div class="board-body">

                    <div class="board-body-column">

                        {{range .ToDo}}    
                        
                            <div class="ticket">
                                <div class="ticket-header">{{.Title}}</div>
                                <div class="ticket-desc">{{.Description}}</div> 
                                    <form action="" method="post">
                                        <input class="ticket-button" type="submit" name="upvote" value="&rarr;" />
                                    </form>                    
                            </div>

                        {{end}}

                    </div>

                    <div class="board-body-column">

                        {{range .InProgress}}    
                        
                            <div class="ticket">
                                <div class="ticket-header">{{.Title}}</div>
                                <div class="ticket-desc">{{.Description}}</div>                        
                            </div>

                        {{end}}

                    </div>
    
                    <div class="board-body-column">

                        {{range .Done}}    
                        
                            <div class="ticket">
                                <div class="ticket-header">{{.Title}}</div>
                                <div class="ticket-desc">{{.Description}}</div>                        
                            </div>

                        {{end}}
                    
                </div>
            </div>
        </div>
    </body>
</html>
