<!DOCTYPE html>
<head>
    <title>State Management</title>
    <link rel="stylesheet" type="text/css" href="./style/style.css" />
    <link rel="stylesheet" type="text/css" href="./style/ticket.css" />
    <link rel="stylesheet" type="text/css" href="./style/manage.css" />
</head>
<html>
    <h1 class="header">State Management</h1>

    <div class="board-body">
        
        {{range .States}}
            {{template "state" .}}
        {{end}}
        
        <div class="board-body-column" style="order: 99">
            <div class="state-overview">
                <form method="POST" action="/manage">
                    <div class="state-header">NewState</div>
                    <div class="state-info">
                        <div class="info-title">Name</div>
                        <input type="text"name="newName" required />
                    </div>
        
                    <div class="state-info">
                        <div class="info-title">Limit</div>
                        <input type="number" min="0" name="newLimit" required />
                    </div>
        
                    <div class="state-info">
                        <div class="info-title">Position</div>
                        <input type="number" name="newPosition" min="{{.StateCount}}" required />
                    </div>
        
                    <input type="hidden" name="action" value="new-state" />
                    <input type="submit" name="action" value="Add" />
                </form>
            </div>
        </div>
    </div>         
</html>