.state {
    display: flex;
    flex-direction: column;
}

.state-header {
    margin-bottom: 7%;
    font-size: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.state-info {
    margin-bottom: 5%;
}

.info-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: bold;
}

.state-id {
    padding: 5px;
    background-color: #d34848;
    color: white;
    border-radius: 5px;
}

.state-footer{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}