.new-ticket{
    font-weight: bold;
    background-color: #fff;
    padding: 10%;
    border-radius: 0px 25px 25px 25px;
    opacity: 0;
    transition: all .15s ease-in-out;
}

.new-ticket:hover {
    opacity: 1;
    transition: all .4s ease-in-out;
}

#filler {
    flex-grow: 1;
}

.new-ticket > form {
    display: flex;
    flex-flow: column;
}

.new-ticket-input {
    display:flex;
    flex-flow: column;
    font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-width: 700px) {
    .new-ticket {
        padding: 2%;
        width: 90%;
        margin:auto;
    }
}