body {
    background-color: #ffeec0;
}

.main{ 
    background-color: #c0f0ff ;
}

.board-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 3%;
}

.board-header > div {
    width: 33%;
    margin: 10px;
    font-size: 32px;
}

.board-body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.board-body-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 33%;
}

.ticket {
    margin: 10px;
    background-color: #ffcfc0;   
    box-shadow: 5px 5px #ffbca7;
    display: grid;
}

.ticket-header {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    grid-column: 1;
}

.ticket-desc {
    margin-top: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    grid-column: 1;
}

.ticket-button {
    margin: 20px;
    width: 20%;
    justify-self: right;
    text-align: center;
    vertical-align: middle;
    grid-column:  2;
    grid-row: 1/3;
    background-color: #c0ffcf;
    font-size: 36px;
}