body {
    background-color: #ffeec0;
}

.board-header, .new-ticket-head{
    font-size: 32px;
}

.board-body {
    display: flex;
    flex-wrap: row wrap;
}

.board-body-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #c0f0ff;
    margin: 1%;
    width: 30%;
}

#toDo {
    order: 1;
}

#inProgress {
    order: 2;
}

#done {
    order: 3;
}

.ticket {
    margin: 10px;
    background-color: #ffcfc0;   
    box-shadow: 5px 5px #ffbca7;
    display: grid;
}

.ticket-header, .new-ticket-title{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: bold; 
    grid-column: 1;
}

.ticket-desc, .new-ticket-description{
    margin-top: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    grid-column: 1;
}

.ticket-button, .new-ticket-button {
    text-align: center;
    vertical-align: middle;
    background-color: #c0ffcf;
    font-size: 36px;
}

.ticket > form {
    grid-column:  2;
    grid-row: 1/3;
    margin: 20px;
    width: 20%;
}

.new-ticket {
    background-color: #c0f0ff;
    margin: 1%;
    width: 30%;
}

.new-ticket-body {
    margin: 10px;
    background-color: #ffcfc0;   
    box-shadow: 5px 5px #ffbca7;
}

.new-ticket-body > form {
    display: grid;
}

.new-ticket-title, .new-ticket-description {
    grid-column: 1;
}

.new-ticket-title {
    font-size: 24px;
}

.new-ticket-button {
    grid-column: 2;
    grid-row: 1/3;
    font-size: 18px;
    margin: 12%;
}

@media screen and (max-width: 700px) {
    .board-body {
        flex-flow: column;
        flex-wrap: column wrap;
    }

    .board-body-column {
        width: 95%;
        margin-bottom: 10%;
    }

    .ticket > form {
        grid-column:  2;
        grid-row: 1/3;
        justify-self: right;
    }

    .new-ticket {
        width: 100%;
    }
}