<!DOCTYPE html>
<html>
	<head>
		<title>My kanban board</title>
		<link rel="stylesheet" type="text/css" href="./style/style.css" />
		<link rel="stylesheet" type="text/css" href="./style/ticket.css" />
		<link rel="stylesheet" type="text/css" href="./style/newTicket.css" />
		<meta content="width=device-width, initial-scale=1" name="viewport" />
	</head>

	<body>
		<div class="header">My kanban board</div>

		<div class="board-body">
			
			{{range .States}}
				<div class="board-body-column"  style="order: {{.Position}}">
					<div class="board-navbar">
						<div class="board-navbar-header">{{.State}}</div>
					</div>
					
					{{range .Tickets}}
						{{template "ticket" .}}
					{{end}}

					<div id="filler"></div>
			
				{{template "newTicket" .}}
				</div>
					
			{{end}}
				
		</div>
		<div class="go-back">
			<a href="/manage">Manage states</a>
		</div>  
	</body>
</html>