{{define "newTicket"}}
<div class="new-ticket">
    <form action="/" method="POST">
        <div class="new-ticket-input">
            Title
            <br>
            <input type="text" name="newTitle" placeholder="Title..." required />
        </div>

        <div class="new-ticket-input">
            <div>Description</div>
            <textarea name="newDescription" placeholder="Description..." required/></textarea>
        </div>

        <div class="new-ticket-input">
            <div>Deadline</div>
            <input type="date" name="newDate" required />
        </div>

        <div class="new-ticket-input">
            <div>Priority</div>
            <input type="number" name="newPriority" min="1" max="10" placeholder="5" required />
        </div>

        <input type="hidden" name="newState" value="{{.ID}}" />
        <input type="hidden" name="action" value="add-ticket" />
        <input type="submit" name="action" value="Add" />
    </form>
</div>
{{end}}