{{define "ticket"}}
<div class="ticket">
    <div class="ticket-header">{{.Title}}</div>
    <div class="ticket-desc">{{.Description}}</div>
    <div class="ticket-footer">

        <!-- on hover !
        <div class="footer-element" id="{{.ID}}">
            <div class="footer-element-header">Deadline</div>
            <hr>
            {{.Deadline}}
        </div>
        <div class="footer-element" id="{{.ID}}">
            <div class="footer-element-header">Priority</div>
            <hr>
            {{.Priority}}
        </div>
        -->
    </div>
</div>
{{end}}