<!DOCTYPE html>
<html>
	<head>
		<title>My kanban board</title>
		<link rel="stylesheet" type="text/css" href="./style/style.css" />
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		
	</head>

	<body>
		<div class="header">My kanban board</div>

		<div class="board-body">
			
			{{range .States}}
				<div class="board-body-column">
					<div class="board-header">{{.State}} -> {{.Limit}}</div>
						{{range .Tickets}}
							{{template "ticket" .}}
						{{end}}
				</div>

			{{end}}

		</div>
		<div class="new-actions-container">

			<div class="new-instance">
				<div class="board-header">New ticket...</div>

				<form action="/" method="POST" class="ticket">
					<div class="ticket-header">
						<input type="text" name="newTitle" placeholder="Title..." required />
					</div>

					<div class="ticket-desc">
						<textarea name="newDescription" placeholder="Description..." required/></textarea>
					</div>
					
					<div class="ticket-footer">
						<div class="footer-element">
							<div class="footer-element-header">Deadline</div>
							<hr>
							<input type="date" name="newDate" required />
						</div>

						<div class="footer-element">
							<div class="footer-element-header">Priority</div>
							<hr>
							<input type="number" name="newPriority" min="1" max="10" placeholder="5" required />
						</div>
					</div>

					<input class="ticket-button" type="submit" name="submitNewTicket" value="Add" />
				</form>
			</div>

			<div class="new-instance">
				<div class="board-header">New Column...</div>
				<div class="ticket">
					<form action="/" method="POST" class="ticket">
						<div class="ticket-header">
							Name
							<br>
							<input type="text" name="newColumn" placeholder="Name..." required />
						</div>

						<input class="ticket-action ticket-button" type="submit" name="submitNewColumn" value="Add" />
					</form>
				</div>
			</div>
		</div>
	</body>
</html>