<!DOCTYPE html>
<html>
	<head>
		<title>My kanban board</title>
		<link rel="stylesheet" type="text/css" href="./style/style.css" />
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		
	</head>

	<body>
		<div class="header">My kanban board</div>

		<div class="board-body">
			
			{{range .States}}
				<div class="board-body-column">
					<div class="board-header">{{.State}} -> {{.Limit}}</div>
						{{range .Tickets}}
							{{template "ticket" .}}
						{{end}}
				</div>

			{{end}}

		</div>
		{{template "footer" .States}}
	</body>
</html>