{{define "ticket"}}
<div class="ticket">
    <div class="ticket-header">{{.Title}}</div>
    <div class="ticket-desc">{{.Description}}</div>
  
    <div class="ticket-action">
        <form action="/" method="POST">
            <select name="destination">
                {{ range .Destination }}
                    <option value="{{.DestID}}">{{.DestName}}</option>
                {{end}}
            </select>
            <input type="hidden" name="ticketID" value="{{.ID}}" />
            <input type="hidden" name="currentState" value="{{.StateID}}" />
            <input type="submit" value="Move" name="moveTicket" />
        </form>
    </div>

    <div class="ticket-footer">
        <div class="footer-element" id="{{.ID}}">
            <div class="footer-element-header">Deadline</div>
            <hr>
            {{.Deadline}}
        </div>
        <div class="footer-element" id="{{.ID}}">
            <div class="footer-element-header">Priority</div>
            <hr>
            {{.Priority}}
        </div>
    </div>
</div>
{{end}}